$var1: #ebd3ff;

* {
    margin: 0;
    padding: 0;
}


body {
    font-size: 22px;
    font-family: serif;
    line-height: 1.4;
    b {
        font-size: 24px;
    }
    position: relative;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: $var1;
    height: 100px;
    .container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
    }
    .logo {
        width: 15%;
        display: flex;
        align-items: center;
        img {
            height: 95px;
            width: 100px;
            border-radius: 50%;
        }
    }
    .menu {
        width: 70%;
        display: flex;
        align-items: center;
        .menu-list {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            justify-items: center;
            position: relative;
            top: 10px;
            left: 50px;
            img {
                display: none;
                position: fixed;
                width: 100px;
            }
            .a {
                color: blue;
                &:hover {
                    color: red;
                }
            }
        }
    }
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
    transition: opacity 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

.user_menu {
    display: none;
    width: 70%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background-color: white;
    a {
        margin-top: 50px;
    }
    .user_menu_header {
        height: 100px;
        background-color: $var1;
    }
    .user_menu_body {
        .item {
            margin-top: 15px;
            margin-left: 20px;
        }
        .a {
            color: blue;
        }
    }
}

.show {
    display: block;
}

.hidden {
    display: none !important;
}


.dark-header {
    filter: brightness(60%);
}
.dark-body {
    background-color: grey;
}
.dark-font {
    filter: brightness(50%);
}

.blue {
    color: blue;
}

.cancel {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 32%;
    left: 80%; 
    translate: (-50%, -50%);
}

.no-scroll {
    overflow: hidden;
}

@media only screen and (max-width: 364px) {
    body{
        font-size: 18px;
        b {
            font-size: 20px;
        }
    }
    .logo {
        position: relative;
        right: 30px !important;
        img {
            width: 95px !important;
            height: 90px !important;
        }
    }  
    .menu-list {
        .menu-item {
            display: none !important;
        }
        img {
            display: block !important;
            position: relative;
            right: -30px;
            top: 45px;
        }
        .clear {
            display: none !important;
        }
    }
    .cancel {
        position: relative;
        bottom: 185px;
        left: 200px;
    }
    .user_menu_header {
        p {
            position: relative;
            top: 40px;
            margin-left: 25px;
        }
    }
}

@media only screen and (min-width: 365px) and (max-width: 400px) {
    body{
        font-size: 18px;
        b {
            font-size: 20px;
        }
    }
    .logo {
        position: relative;
        right: 30px !important;
        img {
            width: 95px !important;
            height: 90px !important;
        }
    }  
    .menu-list {
        .menu-item {
            display: none !important;
        }
        img {
            display: block !important;
            position: relative;
            right: -30px;
            top: 45px;
        }
        .clear {
            display: none !important;
        }
    }
    .cancel {
        position: relative;
        bottom: 185px;
        left: 200px;
    }
    .user_menu_header {
        p {
            position: relative;
            top: 40px;
            margin-left: 25px;
        }
    }
}
@media screen and (min-width: 401px) and (max-width: 448px) {
    body{
        font-size: 18px;
        b {
            font-size: 20px;
        }
    }
    .logo {
        position: relative;
        right: 30px !important;
        img {
            width: 95px !important;
            height: 90px !important;
        }
    }
    .menu-list {
        .menu-item {
            display: none !important;
        }
        img {
            display: block !important;
            position: relative;
            right: -20px;
            top: 45px;
        }
        .clear {
            display: none !important;
        }
    }
    .cancel {
        position: relative;
        bottom: 185px;
        left: 240px;
    }
    .user_menu_header {
        p {
            position: relative;
            top: 40px;
            margin-left: 25px;
        }
    }
}

@media only screen and (min-width: 449px) and (max-width: 480px) {
	body {
        font-size: 19px;
        b {
            font-size: 21px;
        }
    }
    .logo {
        position: relative;
        right: 30px !important;
    }
    .menu-list {
        .menu-item {
            display: none !important;
        }
        img {
            display: block !important;
            position: relative;
            right: 0px;
            top: 45px;
        }
        .clear {
            display: none !important;
        }
    }
    .cancel {
        position: relative;
        bottom: 185px;
        left: 265px;
    }
    .user_menu_header {
        p {
            position: relative;
            top: 40px;
            margin-left: 25px;
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 540px) {
    body {
        font-size: 20px;
        b {
            font-size: 21px;
        }
    }
    .logo {
        position: relative;
        right: 30px !important;
    }
    .menu-list {
        .menu-item {
            display: none !important;
        }
        img {
            display: block !important;
            position: relative;
            right: 0px;
            top: 45px;
        }
        .clear {
            display: none !important;
        }
    }
    .cancel {
        position: relative;
        bottom: 185px;
        left: 300px;
    }
    .user_menu_header {
        p {
            position: relative;
            top: 40px;
            margin-left: 25px;
        }
    }
}

@media only screen and (min-width: 541px) and (max-width: 580px) {
    body {
        font-size: 20px;
        b {
            font-size: 21px;
        }
    }
    .logo {
        position: relative;
        right: 30px !important;
    }
    .menu-list {
        .menu-item {
            display: none !important;
        }
        img {
            display: block !important;
            position: relative;
            right: 0px;
            top: 45px;
        }
        .clear {
            display: none !important;
        }
    }
    .cancel {
        position: relative;
        bottom: 180px;
        left: 320px;
    }
    .user_menu_header {
        p {
            position: relative;
            top: 40px;
            margin-left: 25px;
        }
    }
}

@media only screen and (min-width: 581px) and (max-width: 667px) {
    body {
        font-size: 20px;
        b {
            font-size: 21px;
        }
    }
    .logo {
        position: relative;
        right: 30px !important;
        margin-right: 5px;
        img {
            width: 95px !important;
            height: 90px !important;
        }
    }
     .menu-list {
        .menu-item {
            display: none !important;
        }
        img {
            display: block !important;
            position: relative;
            right: 0px;
            top: 45px;
        }
        .clear {
            display: none !important;
        }
    }
    .cancel {
        position: relative;
        bottom: 185px;
        left: 370px;
    }
    .user_menu_header {
        p {
            position: relative;
            top: 40px;
            margin-left: 25px;
        }
    }
}

@media only screen and (min-width: 668px) and (max-width: 768px) {
    body {
        font-size: 20px;
        b {
            font-size: 21px;
        }
    }
    .logo {
        position: relative;
        right: 30px;
        margin-right: 5px;
        img {
            width: 95px;
            height: 90px;
        }
    }
     .menu-list {
        .menu-item {
            display: none !important;
        }
        img {
            display: block !important;
            position: relative;
            right: 0px;
            top: 45px;
        }
        .clear {
            display: none !important;
        }
    }
    .cancel {
        position: relative;
        bottom: 185px;
        left: 420px;
    }
    .user_menu_header {
        p {
            position: relative;
            top: 40px;
            margin-left: 25px;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 22px;
        b {
            font-size: 25px;
        }
    }
}